/* .user-info{
    padding:50px 0px 0px 30px ;
} */

.player-peek{
    left:0;
    display:flex;
    /* text-align:right; */
    width:100%;
    /* padding-top: 50px; */
}
.photo-controls{
    /* width:400px; */
    flex:6%;
}
.scores{
    flex:60%;
    /* padding-left: 50px;
    padding-right:50px; */
    /* background-color: #ff56ff80; */
    display:flex;
    width:100%;

}
.photo{
    /* background-color: #ccc; */
    height:300px; width:300px;font-size:50px;
    padding-top: 100px;
}



.score-prac{
    flex:50%;
    /* background-color: #5956ff4f; */
    

}
.score-tour{
    flex:50%;
    /* background-color: #d2ff564d; */

}

.player_details{
    padding-top:100px;
}


.update-info{
    font-size:30px;
    margin-top:80px;  
    text-align:center;

}
.update-info a{
    color: rgb(145, 39, 39);
    font-family:'Aclonica';
    text-decoration: none;
    background-color: rgb(83, 253, 83);
    padding: 20px;
    padding-right: 40px;
    font-size: 20px;
    text-align:center;
    
}

.edit-score{
    margin-top:70px;
    text-align:center;
}
.edit-score a{
    color: rgb(255, 255, 255);
    font-family:'Aclonica';
    text-decoration: none;
    background-color: #4CAF50;
    padding: 10px;
    padding-right: 20px;
    font-size: 15px;
    text-align:center;
} 
.access-reduce{
    margin-top:70px;
    text-align:center;
}
.access-reduce a{
    background-color:rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family:'Aclonica';
    text-decoration: none;
    padding: 10px;
    padding-right: 20px;
    font-size: 20px;
    text-align:center;
}
.access-reduce a:hover{
    background-color:rgb(145, 2, 2);
}

.update-player-info .update-submit-btn{
    width:25%;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}
.update-player-info .update-submit-btn:hover{
    background-color: #2f7e32;
}

/* --------------------------------------- */

.user-info-table{
    margin:0;
    width: 100%;
}

.user-info-row{
    padding-left:10px;
    font-size:25px;
    text-align:left;
    background-color:rgba(193, 255, 184, 0.315);
}
.user-info-row:nth-child(even){
    background-color:white
}
.user-attribute{
    padding:20px 0px 20px 30px;
    text-align:left;
    width: 30%;
}

.user-info-column{
    width: 70%;;
}
.rwbtn{
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}
.rwbtn:hover{
    background-color: #45a049;
}



/* ----------------------------------------------------- */
/* player analysis */

.position{
    display:flex;
    width:100%;
}

.position-pie{
    flex:50%;
}
.second-chart-container{
    flex:50%;
}
/* ----------------------------------------- */

.scorecard-table{
    width:100%;
    font-size:20px;
}
.scorecard-table td{
    padding:20px;
}
.scorecard-table tr:nth-child(odd){
    background-color: #00ff0838;
}
.scorecard-table tr:hover{
    background-color: #00b1065d;
}
.scorecard-table .time-update{
    width:30%;
}
.scorecard-table .time-update input{
    height:35px;
    /* background-color: inherit; */
}
.score-update{
    text-align: center;
    padding:30px;
}
.score-update input{
    background-color: #4CAF50;
    color:white;
    font-size:30px;
    cursor:pointer;
    width:25%;
    padding:10px;
    border-style:none;
}
.score-update input:hover{
    background-color: #208323;
}